.container {
  margin-bottom: 5%;
}

#form-header {
  margin-top: 5%;
  text-align: center;
}

#form-content {
  background-color: #c7cce7;
  box-shadow: 0px 2px 5px #2d3436;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  margin-top: 5%;
  padding: 2%;
  text-align: left;
}

label {
  font-weight: bold;
}
#form-tagline {
  background-color: #c7cce750;
  -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  margin-top: 5%;
  padding: 3%;
  height: 53rem;
  overflow: scroll;
  -ms-overflow-style: none;
}

#form-tagline::-webkit-scrollbar {
  width: 0 !important;
  display: none;
}

#form-tagline h2 {
  margin-bottom: 5%;
}

.form-group {
  margin-top: 5%;
}

.btn {
  width: 10rem;
}

#form-tagline {
  text-align: justify;
}

input[type="radio"] {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 36.5rem;
}

/* validation Colour
.error {
  font-size: 15px;
  padding: 10px 0 0 55px;
  color: rgba(255, 0, 0, 0.589);
} */

@media screen and (max-width: 600px) {
  #form-tagline {
    border-radius: 2rem;
    height: 30rem;
    padding: 2rem;
  }
  #form-content {
    border-radius: 2rem;
  }
  #size {
    margin-left: 20px;
    margin-right: 20px;
  }
  .btn {
    width: 15rem;
    margin-bottom: 10px;
  }
}
